#input1 {
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
}

h3 {
  font-family: Helvetica;
  color: #FFF;
}

body {
   background-image: url("imgs/bg.jpg");
   background-color: #E3E3E3;
   background-repeat: no-repeat;
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #fcf7fc;
  font-size: 26px;
  background: #cfcfcf;
  padding: 10px 20px 10px 20px;
  text-decoration: none; 
  width: 350px;


}

.btn:hover {
  background: #7b8287;
  text-decoration: none;
}

#wrapper {
  margin-top: 25%;
}

p {
  font-family: Helvetica;
  color: #fff;
}