<!DOCTYPE html>

<html>

    <head>
        <title>Youtube mix</title>
        <link rel="stylesheet" type="text/css" href="static/theme.css">
    </head>

    <body >
    <div id="wrapper">
            <center><h3>Paste YouTube links in the text-area!</h3></center>
            <form id="content" action="/generate" method="POST">
            <center><textarea name="playlist" rows="4" cols="50" style="resize: none; width: 350px;">Paste links here</textarea></center>
            <center><input type="submit" class="btn" type="q"></center>  
            <center><p>Find the code <a href="https://github.com/skopjehacklab/youtube-mix">HERE</a></p></center>
        </form>
    </div>
   
    </body>
</html>